.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Pagination.css */

/* Style the pagination container */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  list-style: none;
  /* Remove list-style (dots) */
}

/* Style the pagination buttons */
.page-item {
  margin: 0 5px;
  list-style: none;
  /* Remove list-style (dots) */
}

/* Style the page numbers */
.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
  outline: none;
  cursor: pointer;
  /* Remove outline (the small dots) on focus */
}

/* Style the active page number */
.active-page .page-link {
  cursor: pointer;
  background-color: #007bff;
  /* Text color for active page number */
 
}

/* Style the previous and next buttons */
.previous,
.next {
  background-color: white;
  ;
  color: #007bff;
  ;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 5px;
  transition: background-color 0.3s;
  outline: none;
  /* Remove outline (the small dots) on focus */
}

/* Hover effect for the previous and next buttons */
.previous:hover,
.next:hover {
  text-decoration: underline;
  /* Add underline on hover */
}