.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Styling for the outer container of the pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

/* Styling for each individual page item */
.page-item {
  display: inline-block;
  margin: 0 4px; /* Adjust margins as needed */
}

/* Styling for the page links */
.page-link {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 3px;
  transition: background-color 0.3s;
}

/* Styling for the active page */
.active.primary .page-link {
  background-color: #007bff;
  color: #fff;
}

/* Styling for the 'Previous' and 'Next' buttons */
.page-item {
  display: inline-block;
  margin: 0 4px; /* Adjust margins as needed */
}

.page-link {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 3px;
  transition: background-color 0.3s;
}

/* Styling for the '...' break item */
.page-item.dots {
  display: inline-block;
  margin: 0 4px; /* Adjust margins as needed */
}

.page-link {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 3px;
  transition: background-color 0.3s;
}
